.select2-search input.select2-active {
    background-image: none;
}

.select2-more-results.select2-active {
    background-image: none;
}
 
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background-image: none !important;
}